<!DOCTYPE html>
<html lang="en" ng-app="seaman">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width"/>
    <base href="/">
    <title ng-bind="'Seaman - ' + $root.pageTitle">Seaman - Loading</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,500,700,300,300italic,500italic|Roboto+Condensed:400,300' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-controller="ApplicationController"
      id="app"
      class="app"
      data-custom-page
      data-off-canvas-nav
      ng-cloak>
    <header id="header" class="header-container header-fixed bg-white" header></header>
    <div class="main-container">
        <aside sidebar
               id="nav-container"
               class="nav-container nav-fixed nav-vertical bg-dark"></aside>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular/core")
    @Scripts.Render("~/bundles/angular/ui")
    @Scripts.Render("~/bundles/angular/ui-grid")
    @Scripts.Render("~/bundles/angular/app")
    @Scripts.Render("~/bundles/pdfmake")
    @RenderSection("scripts", required: false)
</body>
</html>
